<div class="insurance-form-container">
  <form [formGroup]=reactiveForm (submit)="submit()">
    <mat-form-field>
      <mat-label>Number of Power units:</mat-label>
      <input matInput type="text" formControlName="powerUnits" required />
      <mat-error *ngIf="reactiveForm.controls.powerUnits.touched && reactiveForm.controls.powerUnits.invalid">
        <span *ngIf="reactiveForm.controls.powerUnits.errors?.required">This field is mandatory.</span>
        <span *ngIf="reactiveForm.controls.powerUnits.errors?.pattern">This field must be a number.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Proposed Effective Date:</mat-label>
      <input matInput [matDatepicker]="effectiveDatePicker" formControlName="proposedEffectiveDate" required />
      <mat-datepicker-toggle matSuffix [for]="effectiveDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #effectiveDatePicker></mat-datepicker>
      <mat-error
        *ngIf="reactiveForm.controls.proposedEffectiveDate.touched && reactiveForm.controls.proposedEffectiveDate.invalid">
        <span *ngIf="reactiveForm.controls.proposedEffectiveDate.errors?.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Proposed Expiration Date: </mat-label>
      <input matInput [matDatepicker]="expirationDatePicker" formControlName="proposedExpirationDate" required />
      <mat-datepicker-toggle matSuffix [for]="expirationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #expirationDatePicker></mat-datepicker>
      <mat-error
        *ngIf="reactiveForm.controls.proposedExpirationDate.touched && reactiveForm.controls.proposedExpirationDate.invalid">
        <span *ngIf="reactiveForm.controls.proposedExpirationDate.errors?.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Business Name:</mat-label>
      <input matInput type="text" formControlName="businessName" maxlength="50" required />
      <mat-error *ngIf="reactiveForm.controls.businessName.touched && reactiveForm.controls.businessName.invalid">
        <span *ngIf="reactiveForm.controls.businessName.errors?.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Business Description:</mat-label>
      <input matInput type="text" formControlName="businessDescription" maxLength="50" />
    </mat-form-field>
    <p> Value: {{reactiveForm.value | json}} </p>
    <button mat-raised-button color="primary" type="button" [disabled]="reactiveForm.invalid"
      (click)="submit()">Submit</button>
  </form>
  <div class="error-container" *ngIf="error">{{error}}</div>
</div>